<div class="container">
  <ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/ProductList/">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/ProductList/Pc portables">Pc portables</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ProductList/Smartphones">Smartphones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ProductList/Accessoires">Accessoires</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ProductList/Pc de bureau">Pc de bureau</a>
    </li>
  </ul>
</div>